/* Messages */
  .commentsColumn {
    height: 52vh;
    overflow: auto;
    padding: 10px 10px 10px 40px;
  }
  .comment {
    background: rgb(209, 216, 243);
    border-radius: 6px;
    margin-bottom: 24px;
    max-width: 600px;
    padding: 12px;
  }
  .msgMeta {
    color: rgb(0, 200, 255);
    font-size: 0.75rem;
  }
  .msgText {
    color: #565656;
  }
  
  /* Message input and button */
  .sendCommentContainer {
    padding: 16px 20px 20px 16px;
    display: flex;
    flex-direction: row;
  }
  .commentInput {
    padding: 14px;
    margin-right: 16px;
    width: 60%;
    border-radius: 6px;
    border: 1px solid rgb(153, 217, 234);
    font-size: 0.9rem;
  }

  .btn-primary {
    background: rgb(226, 226, 226);
    border: 1px solid rgb(153, 217, 234);
  }
  .btn {
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    /* border: none; */
  }

  #comment-input {
    width: 70%;
  }
  #comment-send {
    margin-left:10px;
    width: 30%;
  }