#drawerBox {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

#field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.drawerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.drawerField {
    width: 30%;
    /* align-items: right; */
    /* margin-right: 0; */
}

.drawerInput {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: right;
}